:root {
  --white-color: #fff;
  --papaya-color:#e24242;
  --forest-color: #015249;
  --marine-color: #57bc90;
  --marine-transparent-color:rgb(87,188,144, 0.3);
  --feather-color: #77c9d4;
  --feather-transparent-color:rgb(119,201,212, 0.3);
  --silver-color: #a5a5af;
  --font-text: 'Lato', sans-serif;
  --font-title: 'COCOGOOSE', sans-serif;
}
